## Modifying Strings

In [12]:
# Using the UPPER function
y = "hello python"
print(y.capitalize())

Hello python

In [26]:
y = "hello python"
x= "ENVIRONMENTAL"
print(y.upper())
print(x.lower())
print(len(x))

HELLO PYTHON
environmental
13

In [23]:
# Removing white spaces
Aspiration_long_term = "        What are the your goals for the next 5 years?"
print(Aspiration_long_term.strip())

What are the your goals for the next 5 years?

In [27]:
# Formatting strings using the FORMAT function
time_frame = 6
question = "Are you prepared for it?"
important_message = "The Net Zero ambtion is expected to be materialized in {} years time. "
print((important_message + question).format(time_frame))

The Net Zero ambtion is expected to be materialized in 6 years time. Are you prepared for it?

In [32]:
time_frame = 10
preparation_time = [3,5,6,7,8,9,10, 11]
company_time = 12
question = "Are you prepared for it?"
important_message = "The Net Zero ambtion is expected to be materialized in {} years time "
print((important_message + question).format(time_frame))
if company_time < time_frame:
    print("My company can achieve her targets!")
else:
    print("More room for improvement")

The Net Zero ambtion is expected to be materialized in 10 years time Are you prepared for it?
More room for improvement

## String Methods

In [34]:
# CASEFOLD works like the LOWER func
name = "SYLVESTER"
print(name.casefold())

sylvester

In [51]:
important_message = "The net Zero ambtion is expected to be materialized in six years time. The net zero target is a must for all"
print(important_message.center(len(important_message)))
print(important_message.count("net"))

The net Zero ambtion is expected to be materialized in six years time. The net zero target is a must for all
2

In [59]:
important_message = "The net Zero ambtion is expected to be materialized in six years time. The net Zero target is a must for all"
new = important_message.replace("net Zero", "Net Zero")

In [60]:
print(new)

The Net Zero ambtion is expected to be materialized in six years time. The Net Zero target is a must for all

## Python Boolean

In [62]:
print(bool("Hello world"))
print(bool(5))

True
True

In [64]:
# ISISNTANCE is a function used to test if a value is of a specific data type.
x= 200
print(isinstance(x,int))

True

In [2]:
# Combining string and number using the fomat () function
Age = 36
txt = "My name is Sylvester, and I am {}."
print(txt.format(36))

My name is Sylvester, and I am 36.

In [4]:
qty = 5
items = 435
price = 500
message = "I want to buy {} pieces of item {} at a cost of {}"
print(message.format(qty,items,price))

I want to buy 5 pieces of item 435 at a cost of 500

In [8]:
#Entering illegal characters using Escape characters
name =" My name is Sylvester but I am popularly called \"Sly\" because of my personality"
print(name)

 My name is Sylvester but I am popularly called "Sly" because of my personality

## Python List

In [71]:
fruits = ["Äpple","Mango","Orange", "Banana"]
print(fruits)
print(len(fruits))
print(type(fruits))

['Äpple', 'Mango', 'Orange', 'Banana']
4
<class 'list'>

In [69]:
print(fruits.index("Mango"))

1

In [72]:
# Making a list using the list constructor
my_fruits = list(("Äpple","Mango","Orange", "Banana"))
print(my_fruits)

['Äpple', 'Mango', 'Orange', 'Banana']

In [76]:
## To determine if a specified item is present in a list use the ""in"" keyword:
fruits = ["Äpple","Mango","Orange", "Banana"]
if "Orange" in fruits:
    print("YES!it is in the list")
else:
    print("Not in the list")

YES!it is in the list

In [79]:
#Change Item Value
fruits = ["Äpple","Mango","Orange", "Banana"]
fruits[2]="Watermeloon"
print(fruits)

['Äpple', 'Mango', 'Watermeloon', 'Banana']

In [84]:
my_fruit =("Kiwi","Orange")
fruits.append(my_fruit)
fruits.append("Pineapple")
print(fruits)

['Äpple', 'Mango', 'Watermeloon', 'Banana', ['Kiwi', 'Orange'], ('Kiwi', 'Orange'), ('Kiwi', 'Orange'), 'Pineapple']

In [ ]:
## Using the POP and INSERT functions to remove and replace values or items in a list

In [89]:
my_fruit =("Kiwi","Orange")
fruits.insert(5,my_fruit)
fruits.insert(2,"Pineapple")
print(fruits)

['Äpple', 'Mango', 'Pineapple', 'Watermeloon', 'Banana', ['Kiwi', 'Orange'], ('Kiwi', 'Orange'), ('Kiwi', 'Orange'), ('Kiwi', 'Orange'), 'Pineapple']

In [94]:
fruits = ["Apple", "Banana", "Orange", "Grapes", "Cherry"]
index_to_remove= 3
if 0 <= index_to_remove < len(fruits):
    removed_fruit=fruits.pop(index_to_remove)
    fruits.insert(index_to_remove,"Straberries")
    print("Removed:",removed_fruit)
    print("Updated List:", fruits)
else:
    print("Invalid Index provided")

Removed: Grapes
Updated List: ['Apple', 'Banana', 'Orange', 'Straberries', 'Cherry']

In [96]:
list_countries = ["Belgium","Austra", "Spain", "the Netherlands","Italy"]
relevant_index = 2
if 0<= relevant_index < len(list_countries):
    removed_country= list_countries.pop(relevant_index)
    list_countries.insert(relevant_index, "Germany")
    print("Removed Country:", removed_country)
    print("Updated List of Countries:", list_countries)

Removed Country: Spain
Updated List of Countries: ['Belgium', 'Austra', 'Germany', 'the Netherlands', 'Italy']

In [100]:
list_countries = ["Belgium","Austra", "Spain", "the Netherlands","Italy"]
relevant_index = 1
new_countries_list = ["Germany","Poland"]
removed_country= list_countries.pop(relevant_index)
list_countries.insert(relevant_index,new_countries_list)
print("Removed Country:", removed_country)
print("Updated List of Countries:", list_countries)

Removed Country: Austra
Updated List of Countries: ['Belgium', ['Germany', 'Poland'], 'Spain', 'the Netherlands', 'Italy']

In [108]:
#Adding a list to another list using the EXTEND function
list_countries = ["Belgium","Austra", "Spain", "the Netherlands","Italy"]
fruits = ["Apple", "Banana", "Orange", "Grapes", "Cherry"]
list_countries.extend(fruits)
print("Combination of Items: ", list_countries)

Combination of Items:  ['Belgium', 'Austra', 'Spain', 'the Netherlands', 'Italy', 'Apple', 'Banana', 'Orange', 'Grapes', 'Cherry']

In [109]:
## Using EXTEND function to combine list and tuples, dict etc
countries = ["Belgium","Austra", "Spain", "the Netherlands","Italy"]
fruits = ("Apple", "Banana", "Orange", "Grapes", "Cherry")
countries.extend(fruits)
print("New addition:",countries)

New addition: ['Belgium', 'Austra', 'Spain', 'the Netherlands', 'Italy', 'Apple', 'Banana', 'Orange', 'Grapes', 'Cherry']

In [111]:
list_countries = ["Belgium","Austra", "Spain", "the Netherlands","Italy"]
list_countries.remove("Spain")
list_countries.pop()
print(list_countries)

['Belgium', 'Austra', 'the Netherlands']

In [114]:
##Usimg the CLEAR function to remove values or items from a list
list_countries = ["Belgium","Austra", "Spain", "the Netherlands","Italy"]
list_countries.clear()
print(list_countries)

[]

## Python  - Loop List

In [115]:
list_countries = ["Belgium","Austra", "Spain", "the Netherlands","Italy"]
for i in list_countries:
    print(i)

Belgium
Austra
Spain
the Netherlands
Italy

In [116]:
#Using INDEX number to loop through a list
list_countries = ["Belgium","Austra", "Spain", "the Netherlands","Italy"]
for i in range(len(list_countries)):
    print(list_countries[i])

Belgium
Austra
Spain
the Netherlands
Italy

In [117]:
list_countries = ["Belgium","Austra", "Spain", "the Netherlands","Italy"]
i = 0
while i < len(list_countries):
    print(list_countries[i])
    i = i + 1

Belgium
Austra
Spain
the Netherlands
Italy

In [118]:
## Looping Using List Comprehension
#List Comprehension offers the shortest syntax for looping through lists:
list_countries = ["Belgium","Austra", "Spain", "the Netherlands","Italy"]
[print(i) for i in list_countries]

Belgium
Austra
Spain
the Netherlands
Italy

[None, None, None, None, None]

In [120]:
fruits = ["Apple", "Banana", "Orange", "Grapes", "Cherry"]
[print(x) for x in fruits]

Apple
Banana
Orange
Grapes
Cherry

[None, None, None, None, None]

## Python - List Comprehension

In [129]:
#Creating a new list based on the values of an existing list. 
fruits = ["Apple", "Banana", "Orange", "Grapes", "Cherry"]
Newlist = []
letter = "G"
for i in fruits:
    if letter in i:
        Newlist.append(i)
print(Newlist)

['Grapes']

In [130]:
#Aplication of LIst Comprehension
list_countries = ["Belgium","Austra", "Spain", "the Netherlands","Italy"]
new_list = [x for x in list_countries if "S" in x ]
print(new_list)

['Spain']

In [139]:
fruits = ["Apple", "Banana", "Orange", "Grapes", "Cherry"]
new_list =[i for i in fruits if "B" in i]
print(new_list)
[i for i in fruits if "B" in i]

['Banana']

['Banana']

In [140]:
fruits = ["Apple", "Banana", "Orange", "Grapes", "Cherry"]
new = [x for x in fruits if x !="Grapes"]
print(new)

['Apple', 'Banana', 'Orange', 'Cherry']

In [143]:
# Using the RANGE function to create the iterable
fruits = ["Apple", "Banana", "Orange", "Grapes", "Cherry"]
new = [i for i in range(10) if i < 5]
print(new)

[0, 1, 2, 3, 4]

In [144]:
# Manipulation of the items before display
fruits = ["Apple", "Banana", "Orange", "Grapes", "Cherry"]
new = [i.upper() for i in fruits]
print(new)

['APPLE', 'BANANA', 'ORANGE', 'GRAPES', 'CHERRY']

In [148]:
fruits = ["Apple", "Banana", "Orange", "Grapes", "Cherry"]
new = [i if i.upper() != "Banana" else "Orange" for i in fruits ]
print(new)

['Apple', 'Banana', 'Orange', 'Grapes', 'Cherry']

## Sorting list

In [149]:
# Sorting in a descending order or alphabetical order
list = ["orange", "mango", "kiwi", "pineapple", "banana"]
list.sort()
print(list)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [150]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

In [151]:
# Sorting in a descending order using the keyword argument
list = ["orange", "mango", "kiwi", "pineapple", "banana"]
list.sort(reverse = True)
print(list)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [152]:
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

[100, 82, 65, 50, 23]

In [153]:
# Customizing the SORT function using the key word argument KEY = FUNCTION
def myfunc(n):
    return abs(n-50)
list = [100, 50, 65, 82, 23]
list.sort(key = myfunc)
print(list)

[50, 65, 23, 82, 100]

In [157]:
# Case sensitivity of the SORT function
list_countries = ["belgium","Austra", "spain", "the Netherlands","Italy"]
list_countries.sort()
print(list_countries)

['Austra', 'Italy', 'belgium', 'spain', 'the Netherlands']

In [159]:
#To correct the unexpected result above, I will use the str.lower function
list_countries = ["belgium","Austra", "spain", "the Netherlands","Italy"]
list_countries.sort(key = str.lower)
print(list_countries)

['Austra', 'belgium', 'Italy', 'spain', 'the Netherlands']

In [160]:
# Reverse the order of a list regardless of the alphabets
list_countries = ["belgium","Austra", "spain", "the Netherlands","Italy"]
list_countries.reverse()
print(list_countries)

['Italy', 'the Netherlands', 'spain', 'Austra', 'belgium']

## Python Tuples

In [162]:
my_tuples=(1,2,3,4,5)
print(my_tuples)
type(my_tuples)

(1, 2, 3, 4, 5)

tuple

In [167]:
# Creating a tuple using 
list_countries = ("belgium","Austra", "spain", "the Netherlands","Italy")

print(list_countries)
type(list_countries)

('belgium', 'Austra', 'spain', 'the Netherlands', 'Italy')

tuple

In [172]:
#Accessing tuple items using their index numbers in a squared bracket
print(list_countries[2])
print(list_countries[-4:])

spain
('Austra', 'spain', 'the Netherlands', 'Italy')

In [174]:
list_countries = ("belgium","Austra", "spain", "the Netherlands","Italy")
if "Italy" in list_countries:
    print("Yes, it is in the list.")

Yes, it is in the list.

## Updating Tuples

In [2]:
x = ("Belgium","Austra", "Spain", "the Netherlands","Italy")
y = list(x)
y[3] = "Romania"
x = tuple(y)
print(x)

('Belgium', 'Austra', 'Spain', 'Romania', 'Italy')

In [3]:
# Unpacking Tuples
x = ("Belgium","Spain","Italy")
(Dutch,Spanish,Italiano) = x
print(Dutch)
print(Spanish)
print(Italiano)

Belgium
Spain
Italy

In [4]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")
(green, yellow, *red) = fruits
print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

## Python Sets

In [5]:
fruits = {"apple", "banana", "cherry", "strawberry", "raspberry"}
type(fruits)

set

In [6]:
fruits = {"apple", "banana", "cherry", "strawberry", "raspberry"}
for x in fruits:
    print(x)

cherry
raspberry
strawberry
apple
banana

In [7]:
fruits = {"apple", "banana", "cherry", "strawberry", "raspberry"}
if "banana" in fruits:
    print("Yes! It is present")

Yes! It is present

In [8]:
# Items in a set cannot be changed but new items can be added using the ADD function
fruits = {"apple", "banana", "cherry", "strawberry", "raspberry"}
fruits.add("Orange")
print(fruits)

{'cherry', 'raspberry', 'strawberry', 'Orange', 'apple', 'banana'}

In [9]:
#Using the UPDATE function to add two different sets
fruits = {"apple", "banana", "cherry", "strawberry", "raspberry"}
tropical= set(("Papaya","Mango"))
fruits.update(tropical)
print(fruits)

{'cherry', 'Mango', 'raspberry', 'strawberry', 'Papaya', 'apple', 'banana'}

In [11]:
fruits = {"apple", "banana", "cherry", "strawberry", "raspberry"}
tropical= list(("Papaya","Mango"))
fruits.update(tropical)
print(fruits)
print(type(tropical))

{'cherry', 'Mango', 'raspberry', 'strawberry', 'Papaya', 'apple', 'banana'}
<class 'list'>

In [12]:
# Adding sets using the UNION function
fruits = {"apple", "banana", "cherry", "strawberry", "raspberry"}
tropical= set(("Papaya","Mango"))
new = fruits.union(tropical)
print(new)

{'cherry', 'Mango', 'raspberry', 'strawberry', 'Papaya', 'apple', 'banana'}

## Python Dictionaries

In [15]:
my_dict ={
    "Year":2023,
    "Name":"Sylvester",
    "Profession":"ESG Analyst"
}
print("Details: ",my_dict)

Details:  {'Year': 2023, 'Name': 'Sylvester', 'Profession': 'ESG Analyst'}

In [19]:
my_dict ={
    "Year":2023,
    "Name":"Sylvester",
    "Profession":"ESG Analyst"
}
print(my_dict["Profession"])
print(my_dict.get("Name"))

ESG Analyst
Sylvester

In [22]:
my_dict ={
    "Year":2023,
    "Name":"Sylvester",
    "Profession":"ESG Analyst",
    "Year":2024
}
print("Details: ",my_dict)
print(len(my_dict))
my_dict.keys()

Details:  {'Year': 2024, 'Name': 'Sylvester', 'Profession': 'ESG Analyst'}
3

dict_keys(['Year', 'Name', 'Profession'])

In [26]:
my_dict ={
    "Year":2023,
    "Name":"Sylvester",
    "Profession":"ESG Analyst"
}

x = my_dict.keys()
print(x)
my_dict["School"]="Erasmus University Rotterdam"
print("Details: ",my_dict)

dict_keys(['Year', 'Name', 'Profession'])
Details:  {'Year': 2023, 'Name': 'Sylvester', 'Profession': 'ESG Analyst', 'School': 'Erasmus University Rotterdam'}

In [27]:
# Displaying all the KEYS
my_dict ={
    "Year":2023,
    "Name":"Sylvester",
    "Profession":"ESG Analyst"
}
for x in my_dict:
    print(x)

Year
Name
Profession

In [28]:
# Displaying all the VALUES in the dictionary
my_dict ={
    "Year":2023,
    "Name":"Sylvester",
    "Profession":"ESG Analyst"
}
for x in my_dict:
    print(my_dict[x])

2023
Sylvester
ESG Analyst

In [29]:
my_dict ={
    "Year":2023,
    "Name":"Sylvester",
    "Profession":"ESG Analyst"
}
for x in my_dict.values():
    print(x)

2023
Sylvester
ESG Analyst

In [30]:
my_dict ={
    "Year":2023,
    "Name":"Sylvester",
    "Profession":"ESG Analyst"
}
for x in my_dict.keys():
    print(x)

Year
Name
Profession

In [32]:
my_dict ={
    "Year":2023,
    "Name":"Sylvester",
    "Profession":"ESG Analyst"
}
for x,y in my_dict.items():
    print(x, ":",y)

Year : 2023
Name : Sylvester
Profession : ESG Analyst

 ## Control flow (IF statements and LOOPS)

In [33]:
x =50
y = 100
if y<x:
    print("y is less than x")
elif y == x:
    print("They are equal")
else:
    print("y is greater than x")

y is greater than x

In [35]:
## While loop
x =1
while x<6:
    print(x)
    x=x+1

1
2
3
4
5

In [37]:
#Using the BREAK STATEMENT
x =1
while x<6:
    print(x)
    if x == 3:
        break
    x= x+1

1
2
3

In [38]:
#Applying the CONTINUE STATEMENT
x =0
while x<6:
    x=x+1
    if x == 3:
        continue
    print(x)

1
2
4
5
6

## Python Functions

In [39]:
#Creating a function using def
def my_function():
    print("Hello World !")

In [40]:
my_function()

Hello World !

In [43]:
# Passing argument to a function
def my_siblings(fname, lname):
    print(fname + )
my_siblings("Selina")
my_siblings("Gabriel")
my_siblings("Joycelin")

Selina Bonyah
Gabriel Bonyah
Joycelin Bonyah

In [45]:
def my_siblings(fname, lname):
    print(fname + " "  + lname)
my_siblings("Sylvester", "Bonyah")

Sylvester Bonyah

In [52]:
#Arbitrary Arguments, *args
def my_funcs(*kids):
    print("The youngest child is " + kids[2])
my_funcs("Emily","John","Max","Frank","Samuella.")

The youngest child is Max

In [51]:
def my_function(*kids):
    print("The youngest child is " + kids[4])
my_function("Emily","John","Max","Frank","Samuella.")

The youngest child is Samuella.

In [57]:
def my_function(child1, child2,child3):
    print("The youngest child is " + child3)
my_function(child1="Emily",child2 ="John",child3 ="Max.")

The youngest child is Max.

In [61]:
def my_function(**kid):
    print("His last name is " + kid["lname"])
my_function(fname ="John",lname= "van Roy.")

His last name is van Roy.

In [64]:
# Passing a list as an argument 
def my_function(food):
    for x in food:
         print(x)
               
fruit= ["apple", "banana", "cherry", "strawberry", "raspberry"]
my_function(fruit)

apple
banana
cherry
strawberry
raspberry

In [65]:
# Returning Values
def my_calc(x):
    return 5 * x
print(my_calc(3))
print(my_calc(5))
print(my_calc(9))

15
25
45

In [66]:
#Positional- Only arguments
def my_work(x,/):x
    print(x)
print(my_work(3))

3
None

## Python Lambda

In [67]:
x = lambda a: a+10
print(x(5))

15

In [69]:
x = lambda a,b: a*b
print(x(4,4))

16

In [70]:
def my_func(n):
    return lambda a: a*n
doubler = my_func(2)
print(doubler(9))

18

## Python Arrays

In [73]:
# Creating Arrays 
cars = ["BMW","Tesla","Ford"]
type(cars) # Lists are being treated as arrays because python does not have an in-built support for arrays. 
len(cars)

3

In [74]:
for x in cars:
    print(x)

BMW
Tesla
Ford

In [75]:
cars.append("Honda")
print(cars)

['BMW', 'Tesla', 'Ford', 'Honda']

In [76]:
cars.pop(3)
print(cars)

['BMW', 'Tesla', 'Ford']

## Python Classes and Objects

In [79]:
# Create class using the keyword class
class Myclass:
    x= 5
print(Myclass)

<class '__main__.Myclass'>

In [80]:
# Using the CLASS created to create an object.
p1 = Myclass()
print(p1.x)

5

In [83]:
class my_info:
    name ="Sylvester"
message = my_info
print("First Name:",message.name)

First Name: Sylvester

In [87]:
# Using the __init__() function eg. Create a class named Person, use the __init__() function to assign values for name and age:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
Info = Person("Maxwell",28)
print(Info.name) 
print(Info.age)

Maxwell
28

In [93]:
class Dog:
    def __init__(self,bought, sold):
        self.bought = bought
        self.sold =sold
transaction = Dog(2016, 2020)
print("I bought the dog in",transaction.bought)
print("I sold the dog in",transaction.sold,".")

I bought the dog in 2016
I sold the dog in 2020 .

In [95]:
#The string representation of an object WITH the __str__() function:
class Person:
    def __init__(self,name,age):
        self.name=name
        self.age=age
def __str__(self):
    return f"{self.name}({self.age})"
p1 = ("Joseph", 56)
print(p1)

('Joseph', 56)

In [105]:
class Person:
    def __init__(self,name,age):
        self.name = name
        self.age = age
    def myfunc(self):
        print("Hello my name is", self.name)
p1 = Person("Frank",35)
p1.myfunc()

Hello my name is Frank

In [111]:
class Identity:
    def __init__(self,nationality,residence):
        self.nationality = nationality
        self.residence = residence
    def my_func(self):
        print("Hello, I am a", self.nationality,"and I live in",self.residence,".")
info = Identity("Ghanaian","The Netherlands")
info.my_func()

Hello, I am a Ghanaian and I live in The Netherlands .

## Python Inheritance

In [115]:
# Creating a PARENT CLASS
class Person:
    def __init__(self,fname,lname):
        self.firstname = fname
        self.lastname = lname
    def print_name(self):
        print(self.firstname,self.lastname)
p1= Person("Sylvester","van Krabben")
p1.print_name()

Sylvester van Krabben

In [117]:
#Creating a CHILD CLASS 
class Student(Person):
    pass
x= Student("Bright","Erasmus")
x.print_name()

Bright Erasmus

In [118]:
class Student(Person):
    def __init__(self,fname,lname):
        Person.__init__(self,fname,lname)
x=Student("Lina","Erasmina")
x.print_name()

Lina Erasmina

In [121]:
#Python also has a super() function that will make the child class inherit all the methods and properties from its parent:
class Person:
    def __init__(self,fname,lname):
        self.fname=fname
        self.lname=lname
    def printname(self):
        print(self.fname,self.lname)
class Student(Person):
    def __init__(self,fname,lname):
        super().__init__(fname,lname)
x= Student("Sylvester","Bonyah")
x.printname()

Sylvester Bonyah

In [122]:
# Adding Properties
class Student(Person):
    def __init__(self,fname,lname):
        super().__init__(fname,lname)
        self.graduation_year=2019
x=Student("Lina","Erasmina")
print(x.graduation_year)

2019

In [124]:
#Add a year parameter, and pass the correct year when creating objects:
class Student(Person):
    def __init__(self,fname,lname,year):
        super().__init__(fname,lname)
        self.graduation_year = 2020
x= Student("Lina","Erasmina",2019)
print(x.graduation_year)
x.printname()

2020
Lina Erasmina

In [129]:
### Adding Methods
class Student(Person):
    def __init__(self,fname,lname,year):
        super().__init__(fname,lname)
        self.graduation_year = year
    def welcome(self):
        print("Welcome",self.fname,self.lname,"to the class of",self.graduation_year)
x= Student("Lina","Erasmina",2019)
x.welcome()

Welcome Lina Erasmina to the class of 2019

## Python Polymorphism

In [130]:
#Class Polymorphism is often used when the different classes have one method.
class Car:
    def __init__(self,brand,model):
        self.brand= brand
        self.model=model
    def move(self):
        print("Drive!")
class Boat:
    def __init__(self,brand,model):
        self.brand=brand
        self.model=model
    def move(self):
        print("Sail!")
class Plane:
    def __init__(self, brand, model):
        self.brand = brand
        self.model = model
    def move(self):
        print("Take-off")
car1 = Car("Ford", "Mustang")       
boat1 = Boat("Ibiza", "Touring 20") 
plane1 = Plane("Boeing", "747") 
for x in (car1,boat1,plane1):
    x.move()

Drive!
Sail!
Take-off

In [134]:
# Scope - local or global
x = 100
def my_func():
    x=300
    print(x)
my_func()
print(x)

300
100

In [136]:
def my_func():
    global x
    x=300
    print(x)
my_func()
print(x)

300
300

In [142]:
import platform
x=platform.system()
print(x)

Windows

In [143]:
x= dir(platform)
print(x)

['_Processor', '_WIN32_CLIENT_RELEASES', '_WIN32_SERVER_RELEASES', '__builtins__', '__cached__', '__copyright__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '__version__', '_comparable_version', '_component_re', '_default_architecture', '_follow_symlinks', '_get_machine_win32', '_ironpython26_sys_version_parser', '_ironpython_sys_version_parser', '_java_getprop', '_libc_search', '_mac_ver_xml', '_node', '_norm_version', '_os_release_cache', '_os_release_candidates', '_os_release_line', '_os_release_unescape', '_parse_os_release', '_platform', '_platform_cache', '_pypy_sys_version_parser', '_sys_version', '_sys_version_cache', '_sys_version_parser', '_syscmd_file', '_syscmd_ver', '_uname_cache', '_unknown_as_blank', '_ver_output', '_ver_stages', 'architecture', 'collections', 'freedesktop_os_release', 'functools', 'itertools', 'java_ver', 'libc_ver', 'mac_ver', 'machine', 'node', 'os', 'platform', 'processor', 'python_branch', 'python_build', 'python_compiler', 'python_implementation', 'python_revision', 'python_version', 'python_version_tuple', 're', 'release', 'sys', 'system', 'system_alias', 'uname', 'uname_result', 'version', 'win32_edition', 'win32_is_iot', 'win32_ver']

In [152]:
import datetime
x=datetime.datetime.now()
print(x)
print(x.strftime("%A"))
print(x.year)

2024-01-22 18:22:03.439198
Monday
2024

## Python JSON

In [1]:
import json
print(json.dumps({"name": "John", "age": 30}))
print(json.dumps(["apple", "bananas"]))
print(json.dumps(("apple", "bananas")))
print(json.dumps("hello"))
print(json.dumps(42))
print(json.dumps(31.76))
print(json.dumps(True))
print(json.dumps(False))
print(json.dumps(None))

{"name": "John", "age": 30}
["apple", "bananas"]
["apple", "bananas"]
"hello"
42
31.76
true
false
null

## Regular Expressions or RegEx

In [4]:
import re
Txt = "The rain in Spain"
x= re.search("^The.*Spain$",Txt)
if x:
    print("Yes! there is a match")
else:
    print("There is no match")

Yes! there is a match

In [5]:
import re
Txt = "rain in Spain"
x= re.search("^The.*Spain$",Txt)
if x:
    print("Yes! there is a match")
else:
    print("There is no match")

There is no match

In [9]:
import re

txt = "There were 500 hundred people in the 3500 seater theatre"

#Find all digit characters in the text:

x = re.findall("\d", txt)
print(x)

['5', '0', '0', '3', '5', '0', '0']

In [6]:
# Find all lower case characters alphabetiocally between "a" and "m"
txt = "The rain in Spain"
x= re.findall("[a-m]",txt)
print(x)

['h', 'e', 'a', 'i', 'i', 'a', 'i']

In [20]:
price = 50.000
txt = "The price is {} dollars."
print(txt.format(price))

The price is 50.0 dollars.

In [18]:
price = 50
txt = "The price is {} dollars."
print(txt.format(price))

The price is 50.00 dollars.